body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fafafa;
  color: #121212;
}
input[type='radio'],
input[type='checkbox'] {
  width: 1.4em;
  height: 1.4em;
  margin: 0;
  cursor: pointer;
}
input[type='color'] {
  margin: 0 10px;
  min-width: 50px;
  cursor: pointer;
}
button {
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}
.siteDesc {
  padding: 0 40px;
  width: 600px;
  font-size: 16px;
}
.siteDesc * {
  margin-block: 0.8em;
}
.title {
  font-size: 18px;
}
.capture-wrap {
  padding-block: 20px;
}
.bottomBox {
  text-align: center;
  font-size: 16px;
}
#capture {
  width: 648px;
  height: 864px;
  aspect-ratio: 3/4;
  overflow: hidden;
}
#decoratedDiv {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.textInputBox {
  padding: 33px 42px;
}
#textInput {
  font-size: 48px;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Noto Serif KR', serif;
  line-height: 1.7em;
}
#mainContainer {
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  min-width: fit-content;
}
#optionContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 600px;
  min-width: 600px;
  text-align: left;
  padding: 28px 40px;
}
.optbox2 {
  display: flex;
  align-items: center;
  gap: 14px;
}
.optbox2 label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.optboxflex {
  padding: 10px 10px 10px 72px;
  display: flex;
  gap: 2px;
  align-items: center;
}
#solidOptions .optboxflex {
  gap: 36px;
}
.imgOptBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.preset,
.gradientPreset,
.textPreset {
  width: 40px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  margin: 0;
  height: 28px;
  border-radius: 4px;
}
.presetbox {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
#reverseGradient,
.addSourceBtn {
  margin: 0 10px 0 4px;
  padding: 4px 8px;
  font-size: 16px;
  min-width: 80px;
  background-color: #666;
  border: none;
  color: white;
  border-radius: 4px;
}
.addSourceBtn {
  margin: 0 4px 0 0;
}
#bgImage {
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
  max-width: 270px;
}
.saveBtn {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 20px;
  margin: 20px 20px 20px 0;
  background-color: #1774e3;
  border: none;
  color: white;
  border-radius: 4px;
}
.saveBtn:hover {
  background-color: #1461bd;
}
#textSource {
  padding-top: 20px;
  color: #ffffff;
  background: transparent;
  font-family: 'Noto Sans KR', serif;
  line-height: 1.7em;
  font-size: 22.5px;
  font-weight: 200;
}
#textSource div {
  border: none;
  outline: none;
}
#textSource2 {
  opacity: 0.7;
}
.greyText {
  color: grey;
  font-size: 16px;
}
.greyText a {
  text-decoration: none;
  color: grey;
}
.greyText a:hover {
  color: black;
}
.redText {
  color: #e60012;
}
.footer-wrap {
  text-align: center;
  padding: 0 40px 40px;
}
@media screen and (max-width: 1364px) {
  #mainContainer {
    flex-direction: column;
    align-items: center;
  }
  #optionContainer {
    padding-bottom: 0;
  }
}
